<!-- Logo -->
<a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>J</b>ST</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>JOPY</b>STORE</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

<!--                    <img th:if="${userImage.image != null}" th:src="@{${'/images/' + #authentication.principal.username +'/'+ userImage.image}}" class="user-image" alt="User Image" />-->
<!--                    <img th:unless="${userImage.image != null}" th:src="@{'/images/user.png'}" class="user-image" alt="User Image" />-->
                    <span class="hidden-xs" sec:authentication="principal.username"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">

<!--                        <img th:if="${userImage.image != null}" th:src="@{${'/images/' + #authentication.principal.username +'/'+ userImage.image}}" class="user-image" alt="User Image" />-->
<!--                        <img th:unless="${userImage.image != null}" th:src="@{'/images/user.png'}" class="user-image" alt="User Image" />-->
                        <p>
                            Welcome <span sec:authentication="principal.username"></span> !
                            <small>Member since Nov. 2023</small>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                        </div>
                        <div class="pull-right" sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!--<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>-->
        </ul>
    </div>
</nav>