<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
<!--            <img th:if="${userImage.image != null}" th:src="@{${'/images/' + #authentication.principal.username +'/'+ userImage.image}}" class="user-image" alt="User Image" />-->
<!--            <img th:unless="${userImage.image != null}" th:src="@{'/images/user.png'}" class="user-image" alt="User Image" />-->
        </div>
        <div class="pull-left info">
            <p sec:authentication="principal.username"></p>
            <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
            <a href="?lang=uk">English</a> | <a href="?lang=idn">Indonesia</a>
        </div>

    </div>
    <ul class="sidebar-menu" data-widget="tree">
        <!-- Parent Menu Item -->
        <li class="treeview" th:each="menu : ${menus}">
            <a  th:href="@{${menu.url}}">
                <i th:class="${menu.icon}"></i> <span th:text="${menu.name}" style="font-size: smaller;"></span>
                <span class="pull-right-container" th:if="${menu.children != null && menu.children.size() > 0}">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <!-- Child Menu Items -->
            <ul class="treeview-menu">
                <li th:each="subMenu : ${menu.children}" th:class="${menu.cucu != null and menu.cucu.size() > 0} ? 'treeview' : ''">
                    <a th:href="@{${subMenu.url}}">
                        <i th:class="${subMenu.icon}"></i> <span th:text="${subMenu.name}" style="font-size: smaller;"></span>
                        <span class="pull-right-container" th:if="${menu.cucu != null && menu.cucu.size() > 0}">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
<!--                    cucu-->
                    <ul class="treeview-menu">
                        <li th:each="cucuMenu : ${menu.cucu}" th:if="${cucuMenu.parentId == subMenu.id}">
                            <a th:href="@{${cucuMenu.url}}">
                                <i th:class="${cucuMenu.icon}"></i> <span th:text="${cucuMenu.name}" style="font-size: smaller;"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


<!--    <ul class="sidebar-menu" data-widget="tree">-->
<!--        <li class="treeview" th:each="menu : ${menus}">-->
<!--            <a  th:href="@{${menu.url}}">-->
<!--                <i th:class="${menu.icon}"></i> <span th:text="${menu.name}" style="font-size: smaller;"></span>-->
<!--                <span class="pull-right-container" th:if="${menu.children != null && menu.children.size() > 0}">-->
<!--                    <i class="fa fa-angle-left pull-right"></i>-->
<!--                </span>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li th:each="subMenu : ${menu.children}">-->
<!--                    <a th:href="@{${subMenu.url}}">-->
<!--                        <i th:class="${subMenu.icon}"></i> <span th:text="${subMenu.name}" style="font-size: smaller;"></span>-->
<!--                        <span class="pull-right-container" th:if="${menu.cucu != null && menu.cucu.size() > 0}">-->
<!--                        <i class="fa fa-angle-left pull-right"></i>-->
<!--                    </span>-->
<!--                    </a>-->
<!--                    <ul class="treeview-menu">-->
<!--                        <li th:each="cucuMenu : ${menu.cucu}">  <a th:href="@{${cucuMenu.url}}">-->
<!--                            <i th:class="${cucuMenu.icon}"></i> <span th:text="${cucuMenu.name}" style="font-size: smaller;"></span>-->
<!--                        </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->

</section>