<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">JOPY STORE</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    <!-- <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/extra/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/extra/css/ionicons.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/iCheck/flat/blue.css}" />
    <link rel="stylesheet" th:href="@{/plugins/morris/morris.css}" />
    <link rel="stylesheet" th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" />
    <link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}" />
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker-bs3.css}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}" />-->
    <link rel="stylesheet" th:href="@{/plugins/custom-datatable/DT_bootstrap.css}" />

    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" />

    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/morris.js/morris.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/jvectormap/jquery-jvectormap.css}" />
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" />

    <link rel="stylesheet" th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <div th:insert="~{/fragments/header}"></div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->

    <aside class="main-sidebar">
        <div th:insert="~{/fragments/main-sidebar}"></div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" layout:fragment="header"></section>

        <!-- Main content -->
        <section class="content">

            <div layout:fragment="content"></div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2023.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <!--<aside class="control-sidebar control-sidebar-dark">
    <div th:replace="/fragments/control-sidebar"></div>
</aside>-->
</div>
<!-- ./wrapper -->

<!-- <script th:src="@{/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
<script th:src="@{/extra/js/1.11.4_jquery-ui.min.js}"></script>
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/extra/js/2.1.0_raphael-min.js}"></script>
<script th:src="@{/plugins/morris/morris.min.js}"></script>
<script th:src="@{/plugins/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/plugins/knob/jquery.knob.js}"></script>
<script th:src="@{/extra/js/2.11.2_moment.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/plugins/validator.min.js}"></script>
<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<script th:src="@{/dist/js/app.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script> -->

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}" ></script>
<script th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}" ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/raphael/raphael.min.js}"></script>
<script th:src="@{/bower_components/morris.js/morris.min.js}"></script>
<script th:src="@{/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}" ></script>
<script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/bower_components/jquery-knob/dist/jquery.knob.min.js}"></script>
<script th:src="@{/bower_components/moment/min/moment.min.js}" ></script>
<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<script th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/pages/dashboard.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>

<script type="text/javascript" th:src="@{/plugins/custom-datatable/datatable.js}"></script>
<script type="text/javascript" th:src="@{/plugins/custom-datatable/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/custom-datatable/DT_bootstrap.js}"></script>


<th:block layout:fragment="script"></th:block>

</body>

</html>